rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    match /planDeCuentas/{cuentaId} {
      allow list, get: if isAuthenticated();
      allow create, update, delete: if false;
    }

    match /zafras/{zafraId} {
        allow get, list: if isAuthenticated();
        allow create, update, delete: if isAuthenticated();
    }

  }
}
